---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/tubbo/comments?access_token=AAAEcoySQLr0BAGUNUHZAuuj3n6Qj5ZAKQqkpLpXkG6HXShPfb2ksrukr6Pup9Tn3tda0l3W5LnZAMo2mOFZAD6PJ3Q6VdRiDvyybKZAT0wAGJ6MEWdgrN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"1050253aec7b29caff644806927dabfa81406eee"'
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"data":[]}'
  recorded_at: Tue, 27 Mar 2012 03:51:28 GMT
- request:
    method: get
    uri: http://graph.facebook.com/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "No node specified"
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"No node specified","type":"Exception"}}'
  recorded_at: Tue, 27 Mar 2012 04:08:40 GMT
- request:
    method: get
    uri: https://graph.facebook.com/tubbo/comments?access_token=AAAEcoySQLr0BACxeJQey1Id5wTZBY7JGwhZCruDsUQzTTozq855yB6cYa4AdNUNsoXhzBaxWlqKax5FaPX1WdYXthBX5gWeJcLtTiAgs5bJScNtKxH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"1050253aec7b29caff644806927dabfa81406eee"'
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"data":[]}'
  recorded_at: Sun, 01 Apr 2012 19:17:05 GMT
recorded_with: VCR 2.0.0
