---
layout: default
title: psychedeli.ca
---
<section id="posts" class="span-6">
	{% for post in site.posts %}
			<article id="{{ post.id }}">
				<header>
					<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
				</header>

				<section>
					{{ post.content }}
				</section>

				<footer>
					<p>Posted in <span class="category">{{ post.category }}</span> <time datetime="{{ post.date }}">on {{ post.date | date_to_string }}</time></p>
					<p>Tags: <span class="tags">{{ post.tags }}</span> | <a href="comments.html?id={{ post.id }}" rel="modal">Comments</a></p>
					{% if post.enclosure %}
						<p>
							Download Attachment:
							<span class="enclosure">
								<img src="ass/img/icon-file.gif" />
								<a href="{{ post.enclosure.url }}">{{ post.enclosure.name }}</a>
							</span>
						</p>
					{% endif %}
				</footer>
			</article>
	{% endfor %}
</section>
