aside {
  @include links;

  background: #FFF;
  padding: 5px;
  display: inline-block;

  p {
    max-width: 280px;
    display: inline-block;
    margin-left: 35px;
  }

  h2 {
    font-family: $museo;
  }
}

#about {
  .icons {
    margin-left: 130px;

    a {
      text-decoration: none;
      padding-left: 15px;

      &:first-child {
        padding-left: 0px;
      }
    }
    .social {
      float: right;
    }
    #soundcloud {
      position: relative;
      top: 7px;
      right: 3px;
    }
    #twitter {
      position: relative;
      top: 3px;
    }
  }
}

//   dl {
//     background: #FFF;
//     margin: 0px;
//     padding: 5px;
//     line-height:24px;
//     font-size: 16px;

//     dt {
//       font-size: 16pt;
//       font-weight: bold;
//     }

//     dd {
//       a {
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//       p.icons {
//         a {
//           text-decoration: none;
//           padding-left: 15px;

//           &:first-child {
//             padding-left: 0px;
//           }
//         }
//         .social {
//           float: right;
//         }
//         #soundcloud {
//           position: relative;
//           top: 7px;
//           right: 3px;
//         }
//         #twitter {
//           position: relative;
//           top: 3px;
//         }
//       }
//     }
//   }

// }
