// Colors and Mixins

$twitterBlue: #2276BB;
$linkColor: #0000FF;
$white: #FFFFFF;

@mixin links() {
  a {
    text-decoration:none;
    font-weight: bold;

    &:link, &:visited {
      color: #0000FF;
    }
    &:hover, &:active {
      color: #000022;
      // text-decoration:underline;
    }

    &.twitter-anywhere-user {
      font-weight:bold;
      // text-decoration:none;
      color: $twitterBlue;

      &:hover, &:active {
        color: $twitterBlue;
        text-decoration: none;
      }
    }
  }
}

.container {
  width: 2048px;
}

// Landscape phones and down
@media (max-width: 480px) {
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

}

// Portrait tablet to landscape
@media (min-width: 768px) {

}

// Portrait tablet to desktop
@media (max-width: 979px) {

}

// Large desktop
@media (min-width: 1200px) {

}
