@import "../vendor/fonts";

body {
	font-family: Helvetica, sans-serif;
	background:#CCC;

	span.twitter-name {
		font-weight:bold;
		color: #2276BB;

		a.twitter-anywhere-user {
			font-weight:bold;
			text-decoration:none;
			color: #2276BB;
		}
	}
}

header {
	height: 175px;

	hgroup {
		h1 {	// psychedeli.ca
			float: right;
			font-family: $cooper;
			font-size: 64px;
			padding: 10px;

			a {
				text-decoration:none;

				&:link, &:visited {
					color:#000;
				}
				&:hover, &:active {
					color:#000253;
				}
			}
		}
		h2 {	// 100% PURE BEARD
			float: left;
			font-family: $futura;
			font-size: 32px;
			color: #FFF;
			background: #CF0000;
			border-top: 1px solid gold;
			border-bottom: 1px solid gold;
			margin-left: -9px;
			margin-top: 55px;
		}
	}
}

section {
	position: relative;

	// Posts carousel on the home page
	&#posts {
		//height: 640px;
		width: 940px;
		float: left;

		.arrow {
			display:none;
			float: left;
			font-size: 96pt;
			padding: 286px 0;
			vertical-align: middle;
			width: 64px;
			position: absolute;
			top: 10px;
			z-index:2;
			background:#CCC;

			&.left {
				left: 0px;
			}
			&.right {
				right: 0px;
			}

			&:hover {
				background: #AAA;
				cursor: pointer;
			}
		}

		.clear {
			clear: both;
		}
	}
}

dl {
	background: #FFF;
	width: 400px;
	padding: 5px;
	float: right;
	position: relative;
	top: 5px;

	dt {
		font-size: 16pt;
		font-weight: bold;
	}

	dd {
		p.icons {
			a {
				text-decoration: none;
				padding-left: 15px;

				&:first-child {
					padding-left: 0px;
				}
			}
			.social {
				float: right;
			}
		}
	}
}
