[submodule "src/backbone"]
	path = src/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "src/underscore"]
	path = src/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "src/jquery"]
	path = src/jquery
	url = https://github.com/jquery/jquery.git
