# Github Rails.gitignore
*.rbc
*.sassc
.sass-cache
/coverage.data
/coverage/
/db/*.javadb/
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# YARD artifacts
.yardoc
_yardoc
doc/

# Sensitive Configuration
/config/status_exchange.yml
/config/*.yml
/config/tent.sh

# Generated content
public/assets
vendor/slash/

/bin/rails
/bin/rake

/vendor/gems
.rspec
/config/aws_credentials.csv
