/*
 * Stylesheet build for printing.
 */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0@psychedelica/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'CooperStdBlack';
  src: url("vendor/fonts/vendor/fonts/cooperblackstd-webfont.eot");
  src: url("vendor/fonts/cooperblackstd-webfont.eot?#iefix") format("embedded-opentype"), url("vendor/fonts/cooperblackstd-webfont.woff") format("woff"), url("vendor/fonts/cooperblackstd-webfont.ttf") format("truetype"), url("vendor/fonts/cooperblackstd-webfont.svg#CooperStdBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesqueBlack';
  src: url("vendor/fonts/brandon_blk-webfont.eot");
  src: url("vendor/fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("vendor/fonts/brandon_blk-webfont.woff") format("woff"), url("vendor/fonts/brandon_blk-webfont.ttf") format("truetype"), url("vendor/fonts/brandon_blk-webfont.svg#BrandonGrotesqueBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd45Light';
  src: url("vendor/fonts/helveticaneueltstd-lt-webfont.eot");
  src: url("vendor/fonts/helveticaneueltstd-lt-webfont.eot?#iefix") format("embedded-opentype"), url("vendor/fonts/helveticaneueltstd-lt-webfont.woff") format("woff"), url("vendor/fonts/helveticaneueltstd-lt-webfont.ttf") format("truetype"), url("vendor/fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo500';
  src: url("vendor/fonts/museo500-regular-webfont.eot");
  src: url("vendor/fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("vendor/fonts/museo500-regular-webfont.woff") format("woff"), url("vendor/fonts/museo500-regular-webfont.ttf") format("truetype"), url("vendor/fonts/museo500-regular-webfont.svg#Museo500") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMedium';
  src: url("vendor/fonts/futura-medium-webfont.eot");
  src: url("vendor/fonts/futura-medium-webfont.eot?#iefix") format("embedded-opentype"), url("vendor/fonts/futura-medium-webfont.woff") format("woff"), url("vendor/fonts/futura-medium-webfont.ttf") format("truetype"), url("vendor/fonts/futura-medium-webfont.svg#FuturaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, app/_layout.scss */
body {
  font-family: Helvetica, sans-serif;
  background: #CCC;
}

/* line 6, app/_layout.scss */
header {
  height: 175px;
}
/* line 10, app/_layout.scss */
header hgroup h1 {
  float: right;
  font-family: "CooperStdBlack", Tahoma, Helvetica, sans-serif;
  font-size: 64px;
  padding: 10px;
}
/* line 16, app/_layout.scss */
header hgroup h1 a {
  text-decoration: none;
}
/* line 19, app/_layout.scss */
header hgroup h1 a:link, header hgroup h1 a:visited {
  color: #000;
}
/* line 22, app/_layout.scss */
header hgroup h1 a:hover, header hgroup h1 a:active {
  color: #000253;
}
/* line 27, app/_layout.scss */
header hgroup h2 {
  float: left;
  font-family: "FuturaMedium", Arial, sans-serif;
  font-size: 32px;
  color: #FFF;
  background: #CF0000;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
  margin-left: -9px;
  margin-top: 55px;
}

/* line 41, app/_layout.scss */
section {
  position: relative;
}
/* line 45, app/_layout.scss */
section#posts {
  width: 940px;
  float: right;
}
/* line 50, app/_layout.scss */
section#posts .arrow {
  display: none;
  float: left;
  font-size: 96pt;
  padding: 286px 0;
  vertical-align: middle;
  width: 64px;
  position: absolute;
  top: 10px;
  z-index: 2;
  background: #CCC;
}
/* line 62, app/_layout.scss */
section#posts .arrow.left {
  left: 0px;
}
/* line 65, app/_layout.scss */
section#posts .arrow.right {
  right: 0px;
}
/* line 69, app/_layout.scss */
section#posts .arrow:hover {
  background: #AAA;
  cursor: pointer;
}
/* line 75, app/_layout.scss */
section#posts .clear {
  clear: both;
}

/* line 3, app/models/_post.scss */
article {
  background: #FFF;
  padding: 20px;
  margin: 35px 50px;
}
/* line 10, app/models/_post.scss */
article* {
  background: #FFF;
}
/* line 15, app/models/_post.scss */
article header {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border-bottom: 3px dotted #000;
  height: 50px;
}
/* line 21, app/models/_post.scss */
article header h1 {
  font-family: "Museo500", Times, serif;
  font-size: 36px;
}
/* line 25, app/models/_post.scss */
article header h1 a {
  text-decoration: none;
  color: #000;
}
/* line 29, app/models/_post.scss */
article header h1 a:hover, article header h1 a:active {
  color: #0000FF;
}
/* line 33, app/models/_post.scss */
article header h1 a:link, article header h1 a:visited {
  color: #000;
}
/* line 42, app/models/_post.scss */
article section h2 {
  font-size: 30px;
  font-family: "BrandonGrotesqueBlack", Arial, sans-serif;
  letter-spacing: 0.03em;
}
/* line 47, app/models/_post.scss */
article section h3 {
  font-size: 22px;
  font-family: "BrandonGrotesqueBlack", Arial, sans-serif;
  letter-spacing: 0.03em;
}
/* line 52, app/models/_post.scss */
article section p {
  padding: 10px 0 10px 0;
  line-height: 18px;
  font-size: 14px;
}
/* line 58, app/models/_post.scss */
article section p a {
  text-decoration: none;
}
/* line 61, app/models/_post.scss */
article section p a:link, article section p a:visited {
  color: #0000FF;
}
/* line 64, app/models/_post.scss */
article section p a:hover, article section p a:active {
  color: #000022;
}
/* line 67, app/models/_post.scss */
article section pre {
  background-color: #EEE;
}
/* line 70, app/models/_post.scss */
article section pre code {
  font-size: 12px;
  font-family: 'Lucida Console', Courier, fixed;
}
/* line 75, app/models/_post.scss */
article section blockquote {
  border-left: 2px solid #ccc;
  background: #eef;
}
/* line 79, app/models/_post.scss */
article section blockquote p {
  padding: 10px 25px;
}
/* line 86, app/models/_post.scss */
article footer {
  border-top: 1px solid #CCC;
}
/* line 89, app/models/_post.scss */
article footer :first-child {
  padding-top: 10px;
}
/* line 93, app/models/_post.scss */
article footer #icons {
  float: left;
}
/* line 96, app/models/_post.scss */
article footer p {
  text-align: right;
  font-size: 12px;
}
/* line 100, app/models/_post.scss */
article footer p time {
  font-weight: bold;
}
/* line 106, app/models/_post.scss */
article footer .tags a {
  padding-left: 10px;
  text-decoration: none;
  color: #0000FF;
}
