body {
	font-family: Helvetica, sans-serif;
	background:#CCC;

	.twitter-name {
		font-weight:bold;
		color: $twitterBlue;
	}
}

header {
	@include links;
	height: 180px;

	hgroup {
		float: right;

		h1 {	// psychedeli.ca
			font-family: $cooper;
			font-size: 64px;
			padding: 25px;

			a {
				&:link, &:visited {
					color:#000;
				}
				&:hover, &:active {
					color:#000253;
				}
			}
		}
	}

	.ribbon {
		font-family: $collegiate;

	  &:active, &:link, &:visited {
	    color: #ffffff;
	  }
	  &:hover {
	  	color: #e6e6e6;
	  }
	}
}

section {
	@include links;

	&#posts {
    background: #FFF;

    ul li {
      list-style: none;
    }
	}
}

footer {
	background: #d8dee4;

	p, nav {
		margin: 1em 0px 1em 2em;
	}
}

code, pre {
  font-size: 15px
}
