common: &common
  twitter:
    user_name: ""
    consumer_key: ""
  facebook:
    app_id: ""
    app_secret: ""
    access_token: ""
    vanity_url: ""
  soundcloud:
    client_id: ""
    user_name: ""
  github:
    user_name: ""

development:
production:
  <<: *common
test:
  <<: *common
  twitter:
    user_name: "tubbo"
  facebook:
    vanity_url: "wonderbars"
  soundcloud:
    user_name: "wonderbars"
  github:
    user_name: "dhh"
