common: &common
  twitter:
    user_name: ""
    consumer_key: ""
  facebook:
    app_id: ""
    app_secret: ""
    access_token: ""
    vanity_url: ""
  soundcloud:
    client_id: ""
    user_name: ""
  github:
    user_name: ""

development:
production:
  <<: *common
test:
  <<: *common
  twitter:
    user_name: "wonderbars"
  facebook:
    access_token: "AAAEcoySQLr0BAP8ZC42ruMsGFu3DSRWknhxG1bvfRXGpJdxmSrfRM68E8uz2RVDNNU9TA0x6aOhH9FjWNwRitTVLVr3bi55NF3M5XwBKxoRd2Fmeq"
    vanity_url: "wonderbars"
  soundcloud:
    user_name: "wonderbars"
  github:
    user_name: "dhh"
