// Posts are laid out as <article> tags, and when JavaScript is enabled act as a giant carousel.

article {
	// title
	header {
		border-bottom:;
		
		h1 {
			
		}
	}
	
	// content
	section {
		
	}
	
	// category & date identifier
	footer {
		#icons {
			float:left;
		}
		p {
			text-align:right;
		}
	}
}