article {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2.0em;
  }

  h3 {
    font-size: 1.5em;
  }

  h6 {
    font-style: italic;
    text-align: right;
    font-weight: normal;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 0.8em;

    .category, time {
      font-weight: bold;
    }
    .tags {
      font-style: normal;
      margin: 15px 0;

      a {
        //border: 1px solid #ccc;
        background: #eee;
        padding: 3px;
        margin: 0 2px;
        border-radius: 5px;
        color: $link-hover-color;

        &:hover {
          color: $primary-color;
          cursor: pointer;
        background: #ddd;
        }
      }
    }
  }

  // Code blocks
  .highlight {
    @include panel;
    width: 700px;

    pre {
      font-size: 14px;
      width: inherit;
    }
  }
}
