h1 {
  font: 330%/100% 'Sarina', Helvetica, sans-serif;

  small {
    font-size: 22px;
  }
}


article {
  // Code blocks
  .highlight {
    @include panel;
    width: 700px;

    pre {
      font-size: 14px;
      width: inherit;
    }
  }
}
