/**
 * Articles
 *
 * Layout for each <article> element, when displayed
 * on a standalone page or when displayed in a #posts
 * container.
 */

// PCs
@media (min-width: 1000px) {
  #canvas {
    @extend .clearfix;
    display: inline-block;
    max-width: 400px;
  }
  #articles {
    display: inline-block;
    width: 310px;
    float: right;
  }
}

// Tablets
@media (min-width: 768px) {}

// Phones
@media (max-width: 480px) {
  #ribbon { display: none }
}

#articles {
  width: 315px; // large desktop
  //@media (max-width: 1200px) { width: 300px; } // normal desktop
  @media (min-width: 980px) { width: 862px; } // small desktop
  //@media (max-width: 980px) { width: 290px; }
  @media (max-width: 800px) { width: 669px; } // nexus 7
  @media (max-width: 768px) { width: 637px; } // ipad
  @media (max-width: 480px) { width: 441px; } // iphone landscape
  @media (max-width: 360px) { width: 280px; } // nexus galaxy
  @media (max-width: 320px) { width: 280px; } // iphone

  #information {
    @media (min-width: 1000px) { display: none; }
    margin: 30px 0 20px 0;
  }
  nav {
    ul {
      @extend .nav;
      @extend .nav-tabs;
      @extend .nav-stacked;
    }
  }
}

// A single article
article {
  min-width: 700px;
  //@media (max-width: 990px) { min-width: 900px; } // desktop
  @media(max-width: 320px) { min-width: 280px; }
  @media(max-width: 480px) { min-width: 320px; }
  @media(max-width: 640px) { min-width: 180px; }

  header {
    height: auto;
    margin-bottom: 10px;
    @media(max-width: 480px) { margin-bottom: 35px; }

    h1 {
      margin: 0px;
      padding: 0px;
    }
  }

  footer {
    background: #EEE;
    padding: 15px;
    border-top: 1px solid #CCC;
    margin-top: 25px;

    nav {
      span:after {
        content: " |"
      }
    }
    .category {
      font-weight: bold;
    }
    time {
      font-weight: bold;
    }
    &.hacker-news {
      a {
        font-weight: bold;
      }
    }
  }
}
