<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- <link href="/css/bootstrap.less" media="all" rel="stylesheet/less"> -->
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/css/print.css" media="print" rel="stylesheet" type="text/css">
	<script src="/js/lib/require-jquery.js" data-main="/js/ready.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="container">
		<header>
			<hgroup>
				<h1>psychedeli.ca</h1>
				<h2>100% PURE BEARD</h2>
			</hgroup>
		</header>

		{{ content }}

		<footer>
			<div id="ticker"></div>

			<div id="about">
				<h1>Hi!</h1>
				<p>
					My name is Tom, but most people just call me @tubbo.
					This is my blog and personal site. It's a home for
					my life, or lack thereof.
				</p>
				<p>
					By day, I'm a programmer at <a href="http://aplusldesign.com">A + L DESIGN</a>,
					but by night I lead my band <a href="http://thewonderbars.com">The Wonder Bars</a>
					to almost certain death. You can check out more of my musical and programming
					related experiments on the links to your left
				</p>
			</div>
		</footer>
	</div>
</body>
</html>