<!DOCTYPE html>
<html>
<head>
	<base href="http://blog.dev/">
	<title>{{ page.title }}</title>
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/css/print.css" media="print" rel="stylesheet" type="text/css">
	<script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="container">
		<header>
			<hgroup>
				<h1><a href="/">psychedeli.ca</a></h1>
				<h2>100% PURE BEARD</h2>
			</hgroup>
		</header>

		{{ content }}
		
		<!-- <footer>
			<div id="ticker">
				<h2>News Feed</h2>
				<ul>
					<li><img src="img/icons/twitter.png" class="icon">@tubbo Nope. Because I played your trashy girlfriend. How quickly you've forgotten, Rooster.</li>
					<li><img src="img/icons/facebook.png" class="icon">Tom Scott likes Pinky's Westside Grill.</li>
					<li><img src="img/icons/github.png" class="icon"></li>
				</ul>
			</div>
			<div id="about">
				<h2>Hi!</h2>
				<p>
					My name is Tom, but most people just call me @tubbo.
					This is my blog and personal site. It's a home for
					my life, or lack thereof.
				</p>
				<p>
					By day, I'm a programmer at <a href="http://aplusldesign.com">A + L DESIGN</a>,
					but by night I lead my band <a href="http://thewonderbars.com">The Wonder Bars</a>
					to almost certain death. You can check out more of my musical and programming
					related experiments on the links to your left
				</p>
			</div>
		</footer> -->
	</div>
</body>
</html>