---
layout: default
---
<section id="post">
	<article>
		<header>
			<h1>{{ page.title }}</h1>
		</header>

		<section>
			{{ content }}
		</section>

		<footer>
			<div class="text">
				<p>Posted in {{ page.category }} <time datetime="{{ page.time | date_to_xmlschema }}">on {{ page.time | date_to_string }}</time>.</p>
				<p>Tags: {{ page.tags }} | <a href="comments.html?id={{ site.meta.absolute_baseurl }}{{ page.url }}" id="show-comments">Comments</p>
			</div>
		</footer>
	</article>
</section>

<div id="comments"></div>

<script type="text/javascript" charset="utf-8">
	$('#show-comments').click(function() { $('body').find('#comments').load($(this).attr('href')); return false });
</script>