// Site Title
header {
	hgroup {
		h1 {
			float: right;
			font-family: $cooper;
			font-size: 64px;
		}
		h2 {
			float: left;
			font-family: $futura;
			font-size: 48px;
		}
	}
}

section {
	// Posts carousel on the home page
	&#posts {
		
	}
	
	// A single Post in HTML view
	&#post {
		
	}
}

footer {
	// jQuery.ticker polls every 
	#ticker {
		
	}
	
	// About 
}