---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/posts?access_token=AAAEcoySQLr0BAPnNHxFLGhaZAGJo0dvpCa6Y5iJ7T7X4ReUJNXIdIcZCZBQg2ufMLTKb5CeuuIxiSYBXdcnTSdpsDw0e4ukqTMrDnb5jKWNaGKtr8hO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_token" "Error validating access token:
        Session has expired at unix time 1334332800. The current unix time is 1342452386."'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Error validating access token: Session has expired
        at unix time 1334332800. The current unix time is 1342452386.","type":"OAuthException","code":190,"error_subcode":463}}'
  recorded_at: Mon, 16 Jul 2012 15:26:26 GMT
recorded_with: VCR 2.2.2
