---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/test_user/comments?access_token=AAAvalidAccessKeyID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"1050253aec7b29caff644806927dabfa81406eee"'
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"data":[]}'
  recorded_at: Sun, 01 Apr 2012 20:51:33 GMT
- request:
    method: get
    uri: https://graph.facebook.com/tubbo/comments?access_token=AAAEcoySQLr0BACxeJQey1Id5wTZBY7JGwhZCruDsUQzTTozq855yB6cYa4AdNUNsoXhzBaxWlqKax5FaPX1WdYXthBX5gWeJcLtTiAgs5bJScNtKxH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_token" "Error invalidating access token:
        Session has expired at unix time 1333314000. The current unix time is 1336348604."'
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Error invalidating access token: Session has
        expired at unix time 1333314000. The current unix time is 1336348604.","type":"OAuthException","code":190,"error_subcode":463}}'
  recorded_at: Sun, 06 May 2012 23:56:44 GMT
- request:
    method: get
    uri: https://graph.facebook.com/tubbo/comments?access_token=AAAEcoySQLr0BAMXGnzOah0gfELPapbcSH4x7ihVXiYWXEbZAZC7WllZCG5W0EKT2tyIlgEpXeBWdm0JdHv9xEwlVRKF0GRWlDcFDGyZAabKXo5Bu7ZAEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"1050253aec7b29caff644806927dabfa81406eee"'
      X-Cnection:
      - close
    body:
      encoding: US-ASCII
      string: ! '{"data":[]}'
  recorded_at: Mon, 07 May 2012 00:46:58 GMT
- request:
    method: get
    uri: https://graph.facebook.com/test_user/comments?access_token=AAAEcoySQLr0BAMXGnzOah0gfELPapbcSH4x7ihVXiYWXEbZAZC7WllZCG5W0EKT2tyIlgEpXeBWdm0JdHv9xEwlVRKF0GRWlDcFDGyZAabKXo5Bu7ZAEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: test_user"'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#803) Some of the aliases you requested do
        not exist: test_user","type":"OAuthException","code":803}}'
  recorded_at: Mon, 07 May 2012 01:00:09 GMT
recorded_with: VCR 2.0.0
