%hgroup.span-2
  %h1
    = link_to "psychedeli.ca", root_path, id: 'logo'
  .right.ribbon-holder
    %a.red.ribbon{:href => "http://github.com/tubbo/psychedeli.ca", :target => "_blank"}
      %span.text 100% Pure Beard
